[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
recipe-scrapers = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
st-annotated-text = "*"
graphviz = "*"
pymongo = {extras = ["srv"], version = "*"}
pytest = "*"
altair = "==4.0"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.9"
